<div class="relative">
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Search" #input (keydown)="searchCards(input.value)" (focusin)="updateHideResults(false)"/>
    <svg
      (click)="searchCards(input.value)"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70 cursor-pointer">
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd" />
    </svg>
  </label>
  <div class="absolute top-14 w-full rounded left-0 bg-neutral max-h-36 overflow-y-scroll {{hideResults ? 'invisible' : 'visible'}}">
    <p *ngFor="let card of cardsFound" (click)="selectCard(card)" class="p-1 hover:bg-primary-content rounded hover:cursor-pointer">
      {{card.name}}
    </p>
  </div>
</div>

